@{
	ViewData["Title"] = "Home Page";
	Layout = "_Layout";
}
<h3 style="text-align:center">Danh sách sản phẩm</h3>
<div style="display:flex;margin:auto">

	<!-- Card -->
	<div class="bg-image card shadow-1-strong"
		 style=margin:10px; width:300px">
		<div class="card-body text-white">
			<h5 class="card-title" style="color:black">Áo</h5>
			<img src="https://owen.vn/media/catalog/product/cache/d52d7e242fac6dae82288d9a793c0676/a/p/apv231356._13.jpg" style="width:190px;margin:auto" />
			<p class="card-text" style="color:black">	
				Áo mùa hè
			</p>
			<a href="#!" class="btn btn-outline-dark">Mua hàng</a>
		</div>
	</div>

	<div class="bg-image card shadow-1-strong"
		 style=margin:10px; width:300px">
		<div class="card-body text-white">
			<h5 class="card-title" style="color:black">Áo</h5>
			<img src="https://owen.vn/media/catalog/product/cache/d52d7e242fac6dae82288d9a793c0676/a/p/apv231356._13.jpg" style="width:190px;margin:auto" />
			<p class="card-text" style="color:black">
				Áo mùa hè
			</p>
			<a href="#!" class="btn btn-outline-dark">Mua hàng</a>
		</div>
	</div>


	<div class="bg-image card shadow-1-strong"
		 style=margin:10px; width:300px">
		<div class="card-body text-white">
			<h5 class="card-title" style="color:black">Áo</h5>
			<img src="https://owen.vn/media/catalog/product/cache/d52d7e242fac6dae82288d9a793c0676/a/p/apv231356._13.jpg" style="width:190px;margin:auto" />

			<p class="card-text" style="color:black">
				Áo mùa hè
			</p>
			<a href="#!" class="btn btn-outline-dark">Mua hàng</a>
		</div>
	</div>

	<div class="bg-image card shadow-1-strong"
		 style=margin:10px; width:300px">
		<div class="card-body text-white">
			<h5 class="card-title" style="color:black">Áo</h5>
			<img src="https://owen.vn/media/catalog/product/cache/d52d7e242fac6dae82288d9a793c0676/a/p/apv231356._13.jpg" style="width:190px;margin:auto" />

			<p class="card-text" style="color:black">
				Áo mùa hè
			</p>
			<a href="#!" class="btn btn-outline-dark">Mua hàng</a>
		</div>
	</div>


</div>

<div style="display:flex;margin:auto">

	<!-- Card -->
	<div class="bg-image card shadow-1-strong"
		 style=margin:10px; width:300px">
		<div class="card-body text-white">
			<h5 class="card-title" style="color:black">Áo</h5>
			<img src="https://owen.vn/media/catalog/product/cache/d52d7e242fac6dae82288d9a793c0676/a/p/apv231356._13.jpg" style="width:190px;margin:auto" />
			<p class="card-text" style="color:black">
				Áo mùa hè
			</p>
			<a href="#!" class="btn btn-outline-dark">Mua hàng</a>
		</div>
	</div>

	<div class="bg-image card shadow-1-strong"
		 style=margin:10px; width:300px">
		<div class="card-body text-white">
			<h5 class="card-title" style="color:black">Áo</h5>
			<img src="https://owen.vn/media/catalog/product/cache/d52d7e242fac6dae82288d9a793c0676/a/p/apv231356._13.jpg" style="width:190px;margin:auto" />
			<p class="card-text" style="color:black">
				Áo mùa hè
			</p>
			<a href="#!" class="btn btn-outline-dark">Mua hàng</a>
		</div>
	</div>


	<div class="bg-image card shadow-1-strong"
		 style=margin:10px; width:300px">
		<div class="card-body text-white">
			<h5 class="card-title" style="color:black">Áo</h5>
			<img src="https://owen.vn/media/catalog/product/cache/d52d7e242fac6dae82288d9a793c0676/a/p/apv231356._13.jpg" style="width:190px;margin:auto" />

			<p class="card-text" style="color:black">
				Áo mùa hè
			</p>
			<a href="#!" class="btn btn-outline-dark">Mua hàng</a>
		</div>
	</div>

	<div class="bg-image card shadow-1-strong"
		 style=margin:10px; width:300px">
		<div class="card-body text-white">
			<h5 class="card-title" style="color:black">Áo</h5>
			<img src="https://owen.vn/media/catalog/product/cache/d52d7e242fac6dae82288d9a793c0676/a/p/apv231356._13.jpg" style="width:190px;margin:auto" />

			<p class="card-text" style="color:black">
				Áo mùa hè
			</p>
			<a href="#!" class="btn btn-outline-dark">Mua hàng</a>
		</div>
	</div>


</div>
